* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  background-image: var(--background-color-gradient);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  background-color: var(--background-color-container);
  padding: 50px;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: var(--text-color);
}

/* Photo */
.main-photo > img {
  width: 300px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;
}

.main-photo > img:hover {
  transform: rotateY(180deg);
}

/* Texts above link-tree */
.links-header {
  margin-bottom: 15px;
}

.links-header > * {
  margin-top: 0;
  margin-bottom: 0;
}

.links-header > h2 {
  text-decoration: underline;
  font-size: 30px;
}

.links-header > p {
  font-size: 18px;
}

/* Link-tree */
.tree-content {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
}

.link-tree {
  background-color: var(--button-color-1);
  color: var(--text-color);
  padding: 10px;
  width: 100%;
  border: 2px solid var(--button-color-2);
  border-radius: 10px;
  text-decoration: none;

  display: grid;
  grid-template-columns: 30px 1fr 20px;
  align-items: center;

  transition: all 200ms;
}

.link-tree:hover {
  transform: scale(1.01);
  background-color: var(--button-color-hover);
  color: var(--button-color-2);
  cursor: pointer;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contact Session */
.loading {
  animation: load 2s infinite;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.contact ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  justify-content: center;
}

.contact ul a {
  color: white;
  font-size: 40px;
  transition: all 0.2s ease;
}

.contact ul a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
