:root {
  --background-color-gradient: linear-gradient(
    to bottom left,
    #0b1220,
    #1e3a8a
  );

  --background-color-container: rgba(30, 58, 138, 0.15);

  --text-color: #e2e8f0;

  --button-color-1: #1e40af;
  --button-color-2: #0b1220;
  --button-color-hover: #3b82f6;
}
